html {
  color: hsl(240, 100%, 99%);
  background-color: rgb(44, 38, 38);
}
table,tr,td,th,caption{
border: 1px solid #eee ;
font-family:'Courier New', Courier, monospace;
border-collapse: collapse;
padding: 0.5rem;
}
.Ngjyrat{
  background-color: rgb(123, 73, rgb(0, 217, 255));
}